{% extends "base.html" %}

{% block content %}

    <a href=" {{ url_for('posts.create_post') }} " class="btn btn-info">Create new post</a>

    <br>
    <br>

    <h3> {{ current_user.username }} </h3>
    <p> {{ current_user.email }} </p> <hr>

    {% include "form_errors.html" %}
    <form novalidate action="" method="post">
        {{ form.csrf_token  }}
        {{ form.username.label }} : {{ form.username }}
        {{ form.email.label }} : {{ form.email }}
        <input type="submit" value="Update">
    </form>



{% endblock %}